$size: 12px;

.cross {
  color: #d44333;
  cursor: pointer;
  width: $size;
  height: $size;

  > svg {
    height: inherit;
    width: inherit;
    path {
      fill: currentColor;
      stroke: currentColor;
      stroke-width: 3px;
    }
  }
}

.label {
  color: black;
  font-weight: bold;
  min-width: $size;
  height: $size;
  white-space: nowrap;

  &:empty {
    display: none;
  }
}

.box-label {
  cursor: default;
  display: flex;
  font-size: $size;
  padding: 2px;
  border-radius: 100vw;
  position: absolute;
  right: -11px;
  top: -11px;
  background: white;
  border: 2px solid white;
  color: white;
  user-select: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
