.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAdSURBVHgBARIA7f8B9PT0/9DQ0AAAxMTE//T09P93uA1zvgnyuwAAAABJRU5ErkJggg==');
  background-size: 20px;
  image-rendering: pixelated;
}

.pan {
  cursor: grab;
}

.panning {
  cursor: grabbing;
}

.canvas {
  display: none;
}

.img {
  user-select: none;
  transform-origin: center;
}
